*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.navbar{
    background-color: #2f4858;
    padding:10px 15px;
}
.collapse-btn{
    padding:10px;
    border:4px;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
}
.collapse-btn:hover{
    background-color:#F6B17A ;
}
.collapse-btn > *{
    font-size: 18px;
}
.navbar .menu-list{
    display: none;
}
.navbar .menu-list.active{
    display: block;
}
.navbar .menu-list li{
    list-style: none;
}
.navbar .menu-list li a{
    color:#e2e2e2;
    text-decoration: none;
    display: block;
    padding:12px 0;
    font-size: 1.4em;
    margin:5px 0;
}
.navbar .menu-list li:hover{
    background-color: #43655a;
    border-radius: 10px;
}
.navbar .menu-list li:hover a{
    color: white;
}
.navbar .right{
    width: 16%;
    text-align: center;
}
.navbar .order-count{
    background-color: #F6B17A;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color:black;
    text-align: center;
}

@media screen and (min-width:590px){
    .collapse-btn{
        display: none;
    }
    .navbar .menu-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar .menu-list .left {
        display: flex;
    }
    .navbar .menu-list li a{
        padding:12px;
        margin:0;
    }
    .navbar .right{
        width: 6%;
        text-align: right;
    }
    .navbar .order-count{
        background-color: #F6B17A;
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color:black;
        text-align: center;
    }
    
}